.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

.background {
    -fx-background-color: #fffee5;
    -fx-opacity: 0.5;
}

#title {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #003381;
    -fx-opacity: 0.8;
    -fx-font-style: italic;
}

.label-bright {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#menu-bar {
    -fx-text-fill: #0a4281;
    -fx-background-color: #fafbff;
    -fx-border-color: #0a4281;
}

#menu-item:hover {
    -fx-background-color: #0a4281;
}

#menu-item:hover .label {
    -fx-text-fill: #fcfffb;
}

#menu-item {
    -fx-background-color: #fafbff;
}

#menu-item .label {
    -fx-text-fill: #003381;
}

#buttons {
    -fx-background-color: #fafbff;
    -fx-border-color: #003381;
    -fx-text-fill: #003381;
}

#buttons:hover {
    -fx-background-color: #003381;
    -fx-text-fill: #fafbff;
}

#topology {
    -fx-background-color: #fafbff;
    -fx-border-color: #003381;
    -fx-text-fill: #003381;
}

#topology:hover {
    -fx-background-color: #003381;
    -fx-text-fill: #fafbff;
}
#topology-click{
    -fx-background-color: #003381;
    -fx-text-fill: #fafbff;
}
#grid-button {
    -fx-background-color: #fafbff;
    -fx-border-color: #003381;
    -fx-border-radius: 8em;
    -fx-text-fill: #003381;
    -fx-background-radius: 8em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-font-size: 40px;

}

#grid-button:hover {
    -fx-background-color: #003381;
    -fx-text-fill: #fafbff;
}
#grid-button-click{
    -fx-background-color: #003381;
    -fx-border-color: #003381;
    -fx-border-radius: 8em;
    -fx-text-fill: #fafbff;
    -fx-background-radius: 8em;
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    -fx-font-size: 40px;
}
/*.table-view {
    -fx-width: 100%;
    -fx-border-collapse: collapse;
}*/
.column-header {
    -fx-background-color:linear-gradient( #0a4281,#0C95F0);
    -fx-padding: 3px;
    -fx-border-color: #0a4281;
}

.column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Lora', serif;
    -fx-font-weight: normal;
    line-height: 1.8em;
    -fx-font-size: 20px;
    letter-spacing: 0.08em;
}

/*.table-row-cell{
    -fx-background-color: #fafbff;
    -fx-border-color: #0a88ec;
    -fx-padding: 3px;
}*/

.table-view{
    -fx-background-color:#ffffff ;
}
.table-view .table-cell {
    -fx-text-fill: #08366a;
    -fx-border-color: #0c80da;
    -fx-font-family: 'Lora', serif;
    -fx-font-weight: normal;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

/*.table-cell .label:hover {
    -fx-text-fill: #fafbff;
}*/

.table-row-cell{
    -fx-background-color:#ffffff ;
}
.table-row-cell:hover {
    -fx-background-color: #0a4281;
    -fx-border-color: #fafbff;
}

.table-row-cell:hover .table-cell {
    -fx-text-fill: #fafbff;
}

/*.table-row-cell:hover {
    -fx-background-color: rgba(30, 144, 255, 0.2);
}*/

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #ffffff;
    -fx-border-color: #0a4281;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: 'Lora', serif;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:  #0a4281;
}

.list-cell:empty {
    visibility:hidden;
}

.list-cell{
    -fx-background-color: #ffffff;
    -fx-text-fill: #0a4281;
    -fx-font-family: 'Lora', serif;
    -fx-font-weight: normal;
    -fx-font-size: 25px;
    -fx-text-alignment: center;
}

.list-cell:selected{
    -fx-background-color: #0a4281;
    -fx-text-fill:#ffffff ;
}
.list-view{
    -fx-border-color: #0a4281;
}



